<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <queries>
    <package android:name="com.google.android.apps.photos" />
    <package android:name="com.aigate.router" />
  </queries>
  <application
      android:name=".LikApplication"
      android:allowBackup="false"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.Lik"
      android:usesCleartextTraffic="false"
      android:networkSecurityConfig="@xml/network_security_config">
    <service android:name=".ai.InferenceRuntimeService" android:exported="false" android:isolatedProcess="true" android:process=":ai_runtime" />
    <service
        android:name="androidx.work.impl.foreground.SystemForegroundService"
        android:foregroundServiceType="dataSync"
        tools:node="merge" />
    <provider android:name=".exports.ExportProvider" android:authorities="${applicationId}.exports"
        android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/export_paths" />
    </provider>
    <activity
        android:name=".ui.MainActivity"
        android:exported="false" />
    <activity
        android:name=".settings.SettingsActivity"
        android:exported="false" />
    <activity android:name=".settings.AiSettingsActivity" android:exported="false" />
    <activity
        android:name=".gallery.PhotoViewerActivity"
        android:exported="false"
        android:theme="@style/Theme.Lik.Viewer" />
    <activity android:name=".imports.ShareImportActivity" android:exported="true" android:label="@string/share_to_lik">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND_MULTIPLE" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="image/*" />
      </intent-filter>
    </activity>
    <activity-alias
        android:name=".launcher.Classic"
        android:enabled="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Emerald"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_emerald"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Amethyst"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_amethyst"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Sapphire"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_sapphire"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Sunrise"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_sunrise"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Moonstone"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_moonstone"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Rose"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_rose"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Ice"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_ice"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Aurora"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_aurora"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
    <activity-alias
        android:name=".launcher.Amber"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_amber"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
